/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

/* Set global box-sizing */
* {
  box-sizing: border-box;
}

/* Set body margin to 0 */
body {
  margin: 0;
}

.highlights {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  position: absolute;
  left: 8%;
}

.scroll {
  padding-top: 20px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-left: 10%;
  margin-right: 10%;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
  border-radius: 10%;
}

.left,
.right {
  font-family: 'Inconsolata', monospace;
  max-width: 25px;
  max-height: 25px;
  font-size: 14px;
  border: none;
  background: transparent;
  color: aliceblue;
  cursor: pointer;
}

.left {
  position: absolute;
  top: 92%;
  left: 8%;
}

/* Set styles for right button */
.right {
  position: absolute;
  top: 92%;
  right: 8%;
}


.btn{
  margin: 1%;
  width: 150px;
  background-color: rgb(rgba(248, 243, 243, 0), green, blue);
  font-family: 'Inconsolata', monospace;
  color: aliceblue;
  border: solid;
  border-color: rgb(red, green, rgba(67, 67, 97, 0.437));
  border-width: thin;
  border-radius: 5%;
}

.btn:hover{
  color: dimgray;
}

.left:hover{
  color: dimgray;
}

.right:hover{
  color: dimgray;
}
